.container {
  width: 60vw;
  margin: 0 auto;
  min-height: 93vh;
}
.container img {
  width: 60vw;
  height: 20vh;
  display: block;
}
.container .filterText {
  margin: 1vh 0 1vh 0;
}
.container .filterText .articleListText {
  color: white;
  background-color: black;
  width: 8vw;
  height: 4vh;
  line-height: 4vh;
  text-align: center;
  font-weight: bold;
  display: block;
}
.container .userManageCard {
  width: 100%;
  min-height: 60vh;
  margin-top: 1.5vh;
}
.container .userManageCard .cardText {
  font-weight: bold;
  padding-right: 0.5vw;
  font-size: 1rem;
}
.container .userManageCard .fenpian {
  position: relative;
  bottom: 0;
}
